.card{
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px rgba(180, 180, 180, 0.419);
  padding: 20px;
  margin: 10PX;
  text-align: center;
  max-width: 250PX;
  display: inline-block;
}
.cardimage{
max-width: 90%;
height: auto;
border-radius: 50%;
margin-bottom: 10px;
}
.card .cardtitle{
  font-family: 'Courier New', Courier, monospace;
  margin: 0;

}
.card .cardtext{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(226, 43, 43);
}